openapi: 3.1.0
info:
  title: Xceptor REST API
  description: >-
    RESTful API for managing data processing workflows, document ingestion,
    and data extraction in Xceptor. Provides programmatic access to the
    Xceptor data automation platform for integrating with existing systems
    and orchestrating automated data processing pipelines. The API supports
    authentication, job management, data source configuration, and
    monitoring of processing activities across the platform.
  version: '1.0'
  contact:
    name: Xceptor API Support
    url: https://www.xceptor.com/support
    email: api-support@xceptor.com
  termsOfService: https://www.xceptor.com/legal-tcs
externalDocs:
  description: Xceptor REST API Documentation
  url: https://docs.xceptor.com/api/rest
servers:
  - url: https://api.xceptor.com/v1
    description: Production Server
tags:
  - name: Authentication
    description: >-
      Operations for authenticating with the Xceptor platform and managing
      access tokens.
  - name: Jobs
    description: >-
      Operations for creating, monitoring, and managing data processing jobs
      that execute within the Xceptor platform.
  - name: Data Sources
    description: >-
      Operations for configuring and managing connections to external data
      sources used by the Xceptor platform.
  - name: Health
    description: >-
      Operations for checking the health and status of the Xceptor API
      services.
security:
  - bearerAuth: []
paths:
  /auth/token:
    post:
      operationId: createAccessToken
      summary: Xceptor Create access token
      description: >-
        Authenticates with the Xceptor platform using OAuth2 client credentials
        and returns an access token for subsequent API calls. The token should
        be included in the Authorization header as a Bearer token.
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
              properties:
                client_id:
                  type: string
                  description: The OAuth2 client identifier issued to the application
                client_secret:
                  type: string
                  description: The OAuth2 client secret issued to the application
                grant_type:
                  type: string
                  description: The OAuth2 grant type
                  enum:
                    - client_credentials
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/token/revoke:
    post:
      operationId: revokeAccessToken
      summary: Xceptor Revoke access token
      description: >-
        Revokes an active access token, preventing it from being used for
        further API calls. This should be called when the token is no longer
        needed.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The access token to revoke
      responses:
        '200':
          description: Token successfully revoked
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs:
    get:
      operationId: listJobs
      summary: Xceptor List processing jobs
      description: >-
        Retrieves a paginated list of data processing jobs. Jobs represent
        units of work executed on the Xceptor platform, such as document
        ingestion, data extraction, transformation, or export operations.
        Results can be filtered by status, type, and date range.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          description: Filter jobs by processing status
          schema:
            type: string
            enum:
              - pending
              - running
              - completed
              - failed
              - cancelled
        - name: type
          in: query
          description: Filter jobs by processing type
          schema:
            type: string
            enum:
              - ingestion
              - extraction
              - transformation
              - export
              - workflow
        - name: created_after
          in: query
          description: Filter jobs created after this date-time
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter jobs created before this date-time
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A paginated list of jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createJob
      summary: Xceptor Create a processing job
      description: >-
        Creates a new data processing job on the Xceptor platform. The job
        type determines the processing pipeline that will be executed.
        Jobs are processed asynchronously and their status can be monitored
        using the job status endpoint.
      tags:
        - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreate'
      responses:
        '201':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{jobId}:
    get:
      operationId: getJob
      summary: Xceptor Get job details
      description: >-
        Retrieves the details and current status of a specific processing
        job, including progress information, any errors encountered, and
        links to output data when the job has completed.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: cancelJob
      summary: Xceptor Cancel a processing job
      description: >-
        Cancels a pending or running processing job. Completed or already
        cancelled jobs cannot be cancelled. Cancellation is asynchronous
        and the job status will transition to cancelled once processing
        has stopped.
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          description: Job cancellation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /datasources:
    get:
      operationId: listDataSources
      summary: Xceptor List data sources
      description: >-
        Retrieves a list of configured data sources available in the Xceptor
        platform. Data sources represent connections to external systems from
        which data is ingested or to which data is exported, including
        databases, cloud storage, messaging systems, and file systems.
      tags:
        - Data Sources
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: type
          in: query
          description: Filter by data source type
          schema:
            type: string
            enum:
              - database
              - cloud_storage
              - sftp
              - api
              - message_queue
              - email
      responses:
        '200':
          description: A list of data sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /datasources/{datasourceId}:
    get:
      operationId: getDataSource
      summary: Xceptor Get data source details
      description: >-
        Retrieves the configuration details of a specific data source,
        including its connection parameters, status, and usage statistics.
      tags:
        - Data Sources
      parameters:
        - $ref: '#/components/parameters/DataSourceIdParam'
      responses:
        '200':
          description: Data source details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      operationId: getHealth
      summary: Xceptor Check API health
      description: >-
        Returns the current health status of the Xceptor API services,
        including the status of dependent services and components.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth2 access token obtained via the client credentials flow.
        Include as a Bearer token in the Authorization header.
  parameters:
    JobIdParam:
      name: jobId
      in: path
      required: true
      description: The unique identifier of the processing job
      schema:
        type: string
        format: uuid
    DataSourceIdParam:
      name: datasourceId
      in: path
      required: true
      description: The unique identifier of the data source
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      description: The page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSizeParam:
      name: page_size
      in: query
      description: The number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  schemas:
    AccessToken:
      type: object
      description: An OAuth2 access token for authenticating API requests
      properties:
        access_token:
          type: string
          description: The Bearer access token value
        token_type:
          type: string
          description: The type of token issued
          enum:
            - bearer
        expires_in:
          type: integer
          description: The lifetime of the access token in seconds
        scope:
          type: string
          description: The scope of access granted by the token
    Job:
      type: object
      description: >-
        A data processing job that executes on the Xceptor platform. Jobs
        represent units of work such as document ingestion, data extraction,
        transformation, or export operations.
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the job
        type:
          type: string
          description: The type of processing job
          enum:
            - ingestion
            - extraction
            - transformation
            - export
            - workflow
        status:
          type: string
          description: The current processing status of the job
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
        progress:
          type: integer
          description: The processing progress as a percentage (0-100)
          minimum: 0
          maximum: 100
        created_at:
          type: string
          format: date-time
          description: The date and time the job was created
        updated_at:
          type: string
          format: date-time
          description: The date and time the job was last updated
        completed_at:
          type: string
          format: date-time
          description: The date and time the job completed processing
        error:
          $ref: '#/components/schemas/Error'
        metadata:
          type: object
          description: Additional metadata associated with the job
          additionalProperties: true
    JobCreate:
      type: object
      description: Request body for creating a new processing job
      required:
        - type
      properties:
        type:
          type: string
          description: The type of processing job to create
          enum:
            - ingestion
            - extraction
            - transformation
            - export
            - workflow
        workflow_id:
          type: string
          format: uuid
          description: >-
            The identifier of the workflow to execute, required when type
            is workflow
        datasource_id:
          type: string
          format: uuid
          description: The identifier of the data source to process from
        parameters:
          type: object
          description: Job-specific configuration parameters
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata to associate with the job
          additionalProperties: true
    JobList:
      type: object
      description: A paginated list of processing jobs
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
          description: The list of jobs for the current page
        pagination:
          $ref: '#/components/schemas/Pagination'
    DataSource:
      type: object
      description: >-
        A configured connection to an external data system used by the
        Xceptor platform for ingesting or exporting data.
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the data source
        name:
          type: string
          description: The display name of the data source
        type:
          type: string
          description: The type of data source connection
          enum:
            - database
            - cloud_storage
            - sftp
            - api
            - message_queue
            - email
        status:
          type: string
          description: The current connection status of the data source
          enum:
            - connected
            - disconnected
            - error
        created_at:
          type: string
          format: date-time
          description: The date and time the data source was configured
        updated_at:
          type: string
          format: date-time
          description: The date and time the data source was last updated
        last_used_at:
          type: string
          format: date-time
          description: The date and time the data source was last used
    DataSourceList:
      type: object
      description: A paginated list of data sources
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
          description: The list of data sources for the current page
        pagination:
          $ref: '#/components/schemas/Pagination'
    HealthStatus:
      type: object
      description: The health status of the Xceptor API services
      properties:
        status:
          type: string
          description: The overall health status of the API
          enum:
            - healthy
            - degraded
            - unhealthy
        version:
          type: string
          description: The API version
        timestamp:
          type: string
          format: date-time
          description: The time the health check was performed
        services:
          type: object
          description: Status of individual dependent services
          additionalProperties:
            type: string
            enum:
              - healthy
              - unhealthy
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        page:
          type: integer
          description: The current page number
        page_size:
          type: integer
          description: The number of items per page
        total_items:
          type: integer
          description: The total number of items across all pages
        total_pages:
          type: integer
          description: The total number of pages
    Error:
      type: object
      description: An error response from the Xceptor API
      properties:
        code:
          type: string
          description: A machine-readable error code
        message:
          type: string
          description: A human-readable description of the error
        details:
          type: object
          description: Additional error details when available
          additionalProperties: true
