openapi: 3.1.0
info:
  title: Xceptor Document Upload Authentication Data Sources API
  description: API for uploading and processing documents through Xceptor's data extraction engine. Supports intelligent document processing using NLP, OCR, and generative AI to transform unstructured documents including PDFs, emails, spreadsheets, and handwritten forms into structured, trusted data. The API handles document ingestion, classification, field and table extraction, and confidence-scored output for financial services use cases such as trade confirmations, tax documents, loan notices, and client onboarding materials.
  version: '1.0'
  contact:
    name: Xceptor API Support
    url: https://www.xceptor.com/support
    email: api-support@xceptor.com
  termsOfService: https://www.xceptor.com/legal-tcs
servers:
- url: https://api.xceptor.com/v1
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Data Sources
  description: Operations for configuring and managing connections to external data sources used by the Xceptor platform.
paths:
  /datasources:
    get:
      operationId: listDataSources
      summary: Xceptor List Data Sources
      description: Retrieves a list of configured data sources available in the Xceptor platform. Data sources represent connections to external systems from which data is ingested or to which data is exported, including databases, cloud storage, messaging systems, and file systems.
      tags:
      - Data Sources
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: type
        in: query
        description: Filter by data source type
        schema:
          type: string
          enum:
          - database
          - cloud_storage
          - sftp
          - api
          - message_queue
          - email
      responses:
        '200':
          description: A list of data sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /datasources/{datasourceId}:
    get:
      operationId: getDataSource
      summary: Xceptor Get Data Source Details
      description: Retrieves the configuration details of a specific data source, including its connection parameters, status, and usage statistics.
      tags:
      - Data Sources
      parameters:
      - $ref: '#/components/parameters/DataSourceIdParam'
      responses:
        '200':
          description: Data source details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    DataSourceList:
      type: object
      description: A paginated list of data sources
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
          description: The list of data sources for the current page
        pagination:
          $ref: '#/components/schemas/Pagination'
    Error:
      type: object
      description: An error response from the Xceptor API
      properties:
        code:
          type: string
          description: A machine-readable error code
        message:
          type: string
          description: A human-readable description of the error
        details:
          type: object
          description: Additional error details when available
          additionalProperties: true
    DataSource:
      type: object
      description: A configured connection to an external data system used by the Xceptor platform for ingesting or exporting data.
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the data source
        name:
          type: string
          description: The display name of the data source
        type:
          type: string
          description: The type of data source connection
          enum:
          - database
          - cloud_storage
          - sftp
          - api
          - message_queue
          - email
        status:
          type: string
          description: The current connection status of the data source
          enum:
          - connected
          - disconnected
          - error
        created_at:
          type: string
          format: date-time
          description: The date and time the data source was configured
        updated_at:
          type: string
          format: date-time
          description: The date and time the data source was last updated
        last_used_at:
          type: string
          format: date-time
          description: The date and time the data source was last used
    Pagination:
      type: object
      description: Pagination information for list responses
      properties:
        page:
          type: integer
          description: The current page number
        page_size:
          type: integer
          description: The number of items per page
        total_items:
          type: integer
          description: The total number of items across all pages
        total_pages:
          type: integer
          description: The total number of pages
  parameters:
    PageParam:
      name: page
      in: query
      description: The page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    DataSourceIdParam:
      name: datasourceId
      in: path
      required: true
      description: The unique identifier of the data source
      schema:
        type: string
        format: uuid
    PageSizeParam:
      name: page_size
      in: query
      description: The number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 access token obtained via the client credentials flow. Include as a Bearer token in the Authorization header.
externalDocs:
  description: Xceptor Document Upload API Documentation
  url: https://docs.xceptor.com/api/documents
